/* UPDATE DEPENDING ON YOUR PROJECT NEEDS */
@layer base {
  * {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0) !important;
    box-sizing: border-box;
  }

  html,
  body,
  #app {
    @apply h-full font-main #{!important};
  }

  html {
    font-size: 16px;
    line-height: normal;
  }

  body {
    @apply text-base bg-slate-50;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  img,
  svg {
    display: initial;
  }

  label {
    @apply block text-sm font-semibold text-gray-600;
  }


  .container {
    @apply mx-auto px-8 max-w-[1280px] #{!important};

    &--small {
      @apply max-w-[800px] #{!important};
    }
  }

  .link {
    @apply text-gray-600;

    svg, svg * {
      @apply fill-gray-600;
    }

    &:hover {
      @apply text-primary;

      svg, svg * {
        @apply fill-primary;
      }
    }

    &.active {
      @apply text-primary font-medium #{!important};

      svg, svg * {
        @apply fill-primary #{!important};
      }
    }
  }
}